body {
    background-image: url('../img/7951a589f90b4c7d0a1e1fb9c811c81e.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}*

.player {
    width: 60px;
    height: 60px;
    background-image: url('../img/badge_ballon_dor.webp');
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#parent-attack, #parent-milieu, #parent-defance, #parent-gk {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 130px;
    position: relative;
}

#parent-attack {
    position: absolute;
    bottom: 75%;  
}

#parent-milieu {
    position: absolute;
    bottom: 55%;  
}

#parent-defance {
    position: absolute;
    bottom: 30%;  
}

#parent-gk {
    position: absolute;
    bottom: 10%;  
}