/* Body background styling */
body {
    background-image: url('../img/7951a589f90b4c7d0a1e1fb9c811c81e.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    margin: 0;
    padding: 0;
}
/* Player container styling */
.player {
    width: 180px; 
    height: auto; 
    background-image: url('../img/badge_gold.webp'); 
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat; 
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50%; 
    font-weight: bold;
    text-align: center;
    padding: 15px; 
    box-sizing: border-box;
}

.player-img img {
    width: 90px; /* Adjusted size for better scaling */
    height: 90px;
    object-fit: cover;
}

